.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;

    svg {
        font-size: 1.2rem;
    }
}

.activityLink {
    font-size: 0.6rem;
    font-weight: 500;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;

    .detail {
        margin: 4px;
        display: flex;

        svg {
            font-size: 1em;
            top: 0.1em;
            position: relative;
            margin-right: 2px;
        }
    }
}