.card {
    max-width: 800px;
    min-width: 400px;
    border: 1px solid #e0e0e0;
    box-shadow: 2px 3px 3px #e0e0e0;
    border-radius: 8px;
    padding: 16px 16px 24px 16px;
    margin: 12px auto;
    position: relative;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    flex-grow: 1;
    max-width: 400px;
    min-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}